repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: golangci-lint-full
        name: golangci-lint-full
        description: Fast linters runner for Go. Runs on all files in the repo. Use this hook if you use pre-commit in CI.
        entry: golangci-lint run
        types: [ go ]
        language: golang
        require_serial: true
        pass_filenames: false
